= render partial: "posts/postpost"

.orders
  .order__title
    注文履歴

.messages
  .message-all
    - @message.each do |message|
      .message
        .message__name
          注文者：
          = message.name
        .message__phonenumber
          電話番号：
          = message.phonenumber
        .message__ordertime
          受け取り時間：
          = message.ordertimeleft
          = message.ordertimeright
        .message__howtoeat
          利用方法：
          = message.howtoeat
        .message__people
          注文数：
          = message.people
        .message__other
          他の使用されたクーポン
        .message__others
          .message__others__1
            １：
            = message.couponcodenumber1
          .message__others__2
            ２：
            = message.couponcodenumber2
          .message__others__3
            ３：
            = message.couponcodenumber3