-# .content
-#   .content__left
-#     .content__left--image
-#   .content__right
-#     .content__right__top
-#       = link_to post.image, post_path(post.id), class: "content__right__top--title"
-#     .content__right__bottom
-#       .content__right__bottom--userName
-#         = link_to post.user.name, user_path(post.user), class: "content__right__bottom--userName--btn"
-#       .content__right__bottom--date
-#         = post.created_at

.content
  .content__left
    .content__left--image
      = post.image
    .content__left--coupon
      = post.couponcode
  .content__right
    .content__right__name
      = post.shopname
    .content__right__address
      = post.address
      -# = link_to post.user.name, user_path(post.user), class: "content__right__bottom--userName--btn"(住所挿入)
    .content__right__date
      = post.expirydate
      -# = post.created_at(有効期限挿入)
