.posts
  .contents#contents
    - @posts.each do |post|
      .content
        = link_to post_path(post.id) do
          .content__top
            .content__top--image
              = image_tag post.image.url, class: 'image2'
            .content__top--name
              = post.foodname
          .content__bottom
            .content__bottom__coupon
              = post.couponcode
            .content__bottom__address
              店名：
              = post.shopname
            .content__bottom__date
              有効期限：
              = post.expirydate
            .content__bottom__tag#content__bottom__tag
              .content__bottom__tag__prefecture#content__bottom__tag__prefecture
                場所：
                = post.prefecture
              .content__bottom__tag__foodvariety#content__bottom__tag__foodvariety
                ご飯の種類：
                = post.foodvariety