= render partial: "posts/postpost"

.contents
  .content__title
    Edit your coupon

  .content__image
    表示したいファイルを選択してください
  .content__whole
    = form_with model: @post, class: :form, local: true do |form|
      .field
        = form.label :表示したい画像を選択してください
        = form.file_field :image, class: :form__title, id: :image

      .field
        = form.label :店名を記入してください（必須）
        = form.text_field :shopname,class: :form__text, id: :shopname

      .field
        = form.label :クーポン名を記入してください（必須）
        = form.text_field :foodname, class: :form__text, id: :foodname

      .field
        = form.label :住所を記入してください（必須）
        = form.text_field :address, class: :form__text, id: :address

      .field
        = form.label :有効期限を記入してください（必須）
        = form.text_field :expirydate, class: :form__text, id: :expirydate

      .field
        = form.label :タグつけしてください（都道府県）
        = form.collection_select :prefecture, Prefecture.all, :name, :name

      .field
        = form.label :タグつけしてください（ご飯の種類）
        = form.collection_select :foodvariety, Foodvariety.all, :name, :name

      .field
        = form.label :商品の説明を行ってください
        = form.text_area :explanation, class: :form__textarea, id: :explanation

      .field
        = form.submit '投稿する', class: :form__btn