.header
  .header__title
    = link_to "Mealcoupon", posts_path, class: "header__title--text"
  .header__right
    - if user_signed_in?
      = link_to current_user.name, user_path(current_user), class: "header__right--btn"
      = link_to "新規投稿", new_post_path, class: "header__right--btn"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
      = link_to "地図", map_posts_path, class: "header__right--btn"
    - else
      = link_to "ログイン", new_user_session_path, class: "header__right--btn"
      = link_to "新規登録", new_user_registration_path, class: "header__right--btn"
      = link_to "地図", map_posts_path, class: "header__right--btn"

.shopname-form
  .shopname-form__field--top
    クーポン名を検索
  .shopname-form__field--bottom
    = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"

.posts
  .contents#contents
    - @posts.each do |post|
      .content
        = link_to post_path(post.id) do
          .content__top
            .content__top--image
              = image_tag post.image.url, class: 'image2'
            .content__top--name
              = post.shopname
          .content__bottom
            .content__bottom
              .content__bottom__coupon
                = post.couponcode
              .content__bottom__address
                住所：
                = post.address
              .content__bottom__date
                有効期限：
                = post.expirydate

= paginate(@posts)