.header
  .header__title
    = link_to "Mealcoupon", root_path, class: "header__title--text"
  .header__right
    = link_to "use coupon", posts_path, class: "header__right--btn"
    = link_to "user", user_path(current_user), class: "header__right--btn"
    = link_to "新規投稿", new_post_path, class: "header__right--btn"
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"

.maps
  .maps__body
    .maps__body__top
      %h2 住所を入力してください
      / 地名入力用のinputを追加
      %input#address{:type => "textbox"}/
      / buttonをクリックしたらcodeAddressを実行　
      %input{:onclick => "codeAddress()", :type => "button", :value => "検索"}/
    .maps__body__down
      #map
      :css
        #map{
          height: 70vh;
          width: calc(100vw - 100px);
        }
      :javascript
        /*
        mapを関数の外で定義(codeAddressでも使うため)
        geocoderを用意
        */
        
        let map
        let geocoder
        
        function initMap(){
          // geocoderを初期化
          geocoder = new google.maps.Geocoder()
        
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.681236, lng: 139.767125},
          zoom: 8
          });
        }
        
        function codeAddress(){
          // 入力を取得
          let inputAddress = document.getElementById('address').value;
        
          // geocodingしたあとmapを移動
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
                            // map.setCenterで地図が移動
              map.setCenter(results[0].geometry.location);
        
                            // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('入力内容が正しくありません' + status);
            }
          });
        }
      %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBGr4wHYWawwv5Uu9KrLaeimSszx04thqU&callback=initMap"}
