.header
  .header__title
    = link_to "Mealcoupon", posts_path, class: "header__title--text"
  .header__right
    - if user_signed_in?
      = link_to current_user.name, user_path(current_user), class: "header__right--btn"
      = link_to "新規投稿", new_post_path, class: "header__right--btn"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
    - else
      = link_to "ログイン", new_user_session_path, class: "header__right--btn"
      = link_to "新規登録", new_user_registration_path, class: "header__right--btn"

.contents
  .content__title
    New coupon

  .content__image
    表示したいファイルを選択してください
  .content__whole
    = form_with model: @post, class: :form, local: true do |form|
      .field
        = form.file_field :image, class: :form__title

      .field
        店名を記入してください
        = form.text_field :shopname,class: :form__text

      .field
        クーポンコードを記入してください
        = form.text_field :couponcode,class: :form__text

      .field
        クーポン名を記入してください
        = form.text_field :foodname, class: :form__text

      .field
        住所を記入してください
        = form.text_field :address, class: :form__text

      .field
        有効期限を記入してください
        = form.text_field :expirydate, class: :form__text

      .field
        = form.submit '投稿する', class: :form__btn