.header
  .header__title
    = link_to "Mealcoupon", posts_path, class: "header__title--text"
  .header__right
    - if user_signed_in?
      = link_to current_user.name, user_path(current_user), class: "header__right--btn"
      = link_to "新規投稿", new_post_path, class: "header__right--btn"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
    - else
      = link_to "ログイン", new_user_session_path, class: "header__right--btn"
      = link_to "新規登録", new_user_registration_path, class: "header__right--btn"

.contents
  .content__title
    New coupon

  .content__image
    表示したいファイルを選択してください
  .content__whole
    = form_with model: @post, class: :form, local: true do |form|
      .field
        = form.file_field :image, class: :form__title

      .field
        クーポンコードを記入してください
        = form.text_field :couponcode,class: :form__text

      .field
        商品名を記入してください
        = form.text_field :shopname, class: :form__text

      .field
        住所を記入してください 
        = form.text_field :address, class: :form__text

      .field
        有効期限を記入してください
        = form.text_field :expirydate, placeholder: :？年？月？日？時, class: :form__text

      .field
        %select#prefecture{name: "exp_month", type: "text",class:"select"}
          %option{value: ""} --
          %option{value: "1"}01
          %option{value: "2"}02
          %option{value: "3"}03
          %option{value: "4"}04
          %option{value: "5"}05
          %option{value: "6"}06
          %option{value: "7"}07
          %option{value: "8"}08
          %option{value: "9"}09
          %option{value: "10"}10
          %option{value: "11"}11
          %option{value: "12"}12
        %span 都道府県

      .field
        = form.submit '投稿する', class: :form__btn

  -# = form_with model: @post, class: :form, local: true do |form|
  -#   = form.file_field :image, class: :form__title

  -# .content__sentence
  -#   クーポンコードを記入してください
  -# = form_with model: @post, class: :form, local: true do |form|
  -#   = form.text_field :couponcode, placeholder: :？％オフ, class: :form__text

  -# .content__sentence
  -#   商品名を記入してください
  -# = form_with model: @post, class: :form, local: true do |form|
  -#   = form.text_field :shopname, placeholder: :商品名, class: :form__text

  -# .content__sentence
  -#   住所を記入してください
  -# = form_with model: @post, class: :form, local: true do |form|
  -#   = form.text_field :address, placeholder: :住所, class: :form__text

  -# .content__sentence
  -#   有効期限を記入してください
  -# = form_with model: @post, class: :form, local: true do |form|
  -#   = form.text_field :expirydate, placeholder: :？年？月？日？時,value: :有効期限, class: :form__text

  -# = form_with model: @post, class: :form, local: true do |form|
  -#   = form.submit '投稿する', class: :form__btn

-# カラムを呼び出せなかった理由がわからない

-# .contents
-#   .content__title
-#     New coupon
-#   .content__image
-#     表示したいファイルを選択してください
  
-# = form_for(@post, url: posts_path) do |f|
-#   = f.file_field :image, class: 'form__title'

-#   .content__sentence
-#     = f.label :クーポンコードを記入してください
-#     = f.text_field :couponcode, class: 'form__text'

-#   .content__sentence
-#     = f.label :商品名を記入してください
-#     = f.text_field :couponcode, class: 'form__text'

-#   .content__sentence
-#     = f.label :住所を記入してください
-#     = f.text_field :couponcode, class: 'form__text'

-#   .content__sentence
-#     = f.label :有効期限を記入してください
-#     = f.text_field :couponcode, class: 'form__text'

-#   .content_bottun
-#     = f.submit '投稿する', class: :form__btn


-# .field__next
-#                 = f.submit "次へ", class: "field__next__submit"