= render partial: "posts/post"

.post
  .postFoodname
    = @post.foodname
  .postName
    店名：
    = @post.shopname
  .postDate
    有効期限：
    = @post.expirydate
  .postAddress
    住所：
    = @post.address
  .postTitle
    = image_tag @post.image.url
  .postOthercoupon
    他のおすすめのクーポン
  .postOthercoupon1
    １：
    = @post.othercoupon1
  .postOthercoupon2
    ２：
    = @post.othercoupon2
  .postOthercoupon3
    ３：
    = @post.othercoupon3
  .postTextarea__bottom
    = @post.explanation
  .postAuthor
  - if user_signed_in? && current_user.id == @post.user_id
    .postManage
      = link_to "編集", edit_post_path(@post.id), class: "postManage__edit"
      = link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete"
  .postBuy
    = link_to "注文する", new_post_message_path(@post.id), class: "postManage__order"