.postName
  = @post.shopname
.postCoupon
  = @post.couponcode
.postAuthor
- if user_signed_in? && current_user.id == @post.user_id
  .postManage
    = link_to "編集", edit_post_path(@post.id), class: "postManage__edit"
    = link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete"
.postTitle
  = image_tag @post.image.url
.postDate
  = @post.expirydate
.postAddress
  = @post.address
