!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mealcoupon
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# = stylesheet_link_tag    'application', media: 'all'
    -# = javascript_include_tag 'application'
  %body
    -# .header
    -#   .header__title
    -#     = link_to "Mealcoupon", root_path, class: "header__title--text"
    -#   .header__right
    -#     - if user_signed_in?
    -#       = link_to current_user.name, user_path(current_user), class: "header__right--btn"
    -#       = link_to "新規投稿", new_post_path, class: "header__right--btn"
    -#       = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
    -#     - else
    -#       = link_to "ログイン", new_user_session_path, class: "header__right--btn"
    -#       = link_to "新規登録", new_user_registration_path, class: "header__right--btn"
    -# .contents
    = yield
